[Desktop Entry]
Name=Orchiis
X-KDE-PluginInfo-Name=Orchiis
X-KDE-PluginInfo-Author=Jonny Gios
X-KDE-PluginInfo-Website=https://unsplash.com/@supergios
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
