* {
    background-clip: padding-box;
    -GtkToolButton-icon-spacing: 0;
    -GtkTextView-error-underline-color: #D93025;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkToolItemGroup-expander-size: 11;
    -GtkWidget-text-handle-width: 24;
    -GtkWidget-text-handle-height: 24;
    -GtkDialog-button-spacing: 4;
    -GtkDialog-action-area-border: 4;
    outline-style: solid;
    outline-width: 2px;
    outline-color: transparent;
    outline-offset: -4px;
    -gtk-outline-radius: 12px;
    -gtk-secondary-caret-color: #1A73E8;
}

.background {
    background-color: rgba(242, 242, 242, 0.999);
    color: rgba(0, 0, 0, 0.87);
}

.background.csd {
    border-radius: 0 0 2px 2px;
}

.background.maximized, .background.solid-csd {
    border-radius: 0;
}

*:disabled {
    -gtk-icon-effect: dim;
}

.gtkstyle-fallback {
    background-color: #F2F2F2;
    color: rgba(0, 0, 0, 0.87);
}

.gtkstyle-fallback:hover {
    background-color: #e5e5e5;
    color: rgba(0, 0, 0, 0.87);
}

.gtkstyle-fallback:active {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.87);
}

.gtkstyle-fallback:disabled {
    background-color: #F2F2F2;
    color: rgba(0, 0, 0, 0.38);
}

.gtkstyle-fallback:selected {
    background-color: #1A73E8;
    color: white;
}

.view, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}

.view:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:hover {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
}

.view:disabled, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:disabled:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:disabled {
    color: rgba(0, 0, 0, 0.38);
}

.view:selected:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:selected:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:selected:hover {
    box-shadow: none;
}

textview text {
    background-color: #FFFFFF;
}

textview border {
    background-color: #FAFAFA;
    color: rgba(0, 0, 0, 0.6);
}

iconview:hover, iconview:selected {
    border-radius: 12px;
}

.rubberband,
rubberband,
XfdesktopIconView.view .rubberband,
.content-view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
.content-view .rubberband,
treeview.view rubberband,
window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) rubberband,
window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) XfdesktopIconView.view .rubberband,
XfdesktopIconView.view window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
filechooser stack.view scrolledwindow treeview.view rubberband,
filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow .content-view treeview.view rubberband,
filechooser stack.view scrolledwindow .content-view treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow .content-view treeview.view .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
filechooser stack.view window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) .content-view .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
.content-view filechooser stack.view window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) .rubberband,
flowbox rubberband,
flowbox .content-view filechooser stack.view scrolledwindow treeview.view rubberband,
flowbox .content-view filechooser stack.view scrolledwindow treeview.view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view flowbox .content-view filechooser stack.view scrolledwindow treeview.view .rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view flowbox rubberband,
.content-view filechooser stack.view scrolledwindow treeview.view flowbox XfdesktopIconView.view .rubberband,
XfdesktopIconView.view .content-view filechooser stack.view scrolledwindow treeview.view flowbox .rubberband,
flowbox filechooser stack.view scrolledwindow treeview.view .content-view rubberband,
flowbox filechooser stack.view scrolledwindow treeview.view .content-view XfdesktopIconView.view .rubberband,
XfdesktopIconView.view flowbox filechooser stack.view scrolledwindow treeview.view .content-view .rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view flowbox rubberband,
filechooser stack.view scrolledwindow treeview.view .content-view flowbox XfdesktopIconView.view .rubberband,
XfdesktopIconView.view filechooser stack.view scrolledwindow treeview.view .content-view flowbox .rubberband {
    border: 1px solid #1A73E8;
    background-color: rgba(26, 115, 232, 0.3);
}

flowbox flowboxchild {
    padding: 4px;
    border-radius: 12px;
}

.content-view .tile:selected {
    background-color: transparent;
}

label {
    caret-color: currentColor;
}

label.separator {
    color: rgba(0, 0, 0, 0.6);
}

label:disabled {
    color: rgba(0, 0, 0, 0.38);
}

headerbar label:disabled, tab label:disabled, button label:disabled {
    color: inherit;
}

label.osd {
    border-radius: 12px;
    background-color: rgba(54, 54, 54, 0.9);
    color: white;
}

.dim-label {
    color: rgba(0, 0, 0, 0.6);
}

assistant .sidebar {
    padding: 4px 0;
}

assistant .sidebar label {
    min-height: 32px;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.38);
    font-weight: 500;
}

assistant .sidebar label.highlight {
    color: rgba(0, 0, 0, 0.87);
}