/***********
 * Buttons *
 ***********/
 @keyframes needs-attention {
    from {
      background-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(#1A73E8), to(transparent));
    }
    to {
      background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#1A73E8), to(transparent));
    }
  }
  
  .xfce4-panel.background button, .raven-mpris button.image-button, .budgie-panel button, .mate-panel-menu-bar button, .nautilus-window.csd notebook > header tab button.flat, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button, infobar.warning > revealer > box button, infobar.warning:backdrop > revealer > box button {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .xfce4-panel.background button:focus, .raven-mpris button.image-button:focus, .budgie-panel button:focus, .mate-panel-menu-bar button:focus, .nautilus-window.csd notebook > header tab button.flat:focus, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:focus, infobar.warning > revealer > box button:focus, .xfce4-panel.background button:hover, .raven-mpris button.image-button:hover, .budgie-panel button:hover, .mate-panel-menu-bar button:hover, .nautilus-window.csd notebook > header tab button.flat:hover, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:hover, infobar.warning > revealer > box button:hover, .xfce4-panel.background button:active, .raven-mpris button.image-button:active, .budgie-panel button:active, .mate-panel-menu-bar button:active, .nautilus-window.csd notebook > header tab button.flat:active, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:active, infobar.warning > revealer > box button:active, .xfce4-panel.background button:checked, .raven-mpris button.image-button:checked, .budgie-panel button:checked, .mate-panel-menu-bar button:checked, .nautilus-window.csd notebook > header tab button.flat:checked, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:checked, infobar.warning > revealer > box button:checked {
    color: white;
  }
  
  .xfce4-panel.background button:disabled, .raven-mpris button.image-button:disabled, .budgie-panel button:disabled, .mate-panel-menu-bar button:disabled, .nautilus-window.csd notebook > header tab button.flat:disabled, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:disabled, infobar.warning > revealer > box button:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .xfce4-panel.background button:checked:disabled, .raven-mpris button.image-button:checked:disabled, .budgie-panel button:checked:disabled, .mate-panel-menu-bar button:checked:disabled, .nautilus-window.csd notebook > header tab button.flat:checked:disabled, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable button.sidebar-button:checked:disabled, infobar.warning > revealer > box button:checked:disabled {
    color: rgba(255, 255, 255, 0.5);
  }
  
  actionbar > revealer > box .linked > button:not(.suggested-action):not(.destructive-action), button {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: alpha(currentColor, 0.05);
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
    color: rgba(0, 0, 0, 0.87);
  }
  
  actionbar > revealer > box .linked > button:focus:not(.suggested-action):not(.destructive-action), button:focus {
    box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
  }
  
  actionbar > revealer > box .linked > button:hover:not(.suggested-action):not(.destructive-action), button:hover {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  actionbar > revealer > box .linked > button:active:not(.suggested-action):not(.destructive-action), button:active {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms, border 0ms;
    animation: ripple 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
    background-image: radial-gradient(circle, alpha(currentColor, 0.12) 10%, transparent 0%);
    background-size: 0% 0%;
  }
  
  actionbar > revealer > box .linked > button:disabled:not(.suggested-action):not(.destructive-action), button:disabled {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.38);
  }
  
  actionbar > revealer > box .linked > button:checked:not(.suggested-action):not(.destructive-action), button:checked {
    box-shadow: none;
    background-color: #1A73E8;
    color: white;
  }
  
  actionbar > revealer > box .linked > button:checked:hover:not(.suggested-action):not(.destructive-action), button:checked:hover {
    box-shadow: inset 0 0 0 9999px transparent;
  }
  
  actionbar > revealer > box .linked > button:checked:disabled:not(.suggested-action):not(.destructive-action), button:checked:disabled {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.1);
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.38);
  }
  
  button {
    min-height: 24px;
    min-width: 16px;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 500;
  }
  
  button:drop(active) {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  .budgie-session-dialog .linked.horizontal > button,
  .budgie-polkit-dialog .linked.horizontal > button,
  .budgie-run-dialog .linked.horizontal > button, .drop-shadow button, .budgie-settings-window buttonbox.inline-toolbar button, #mate-menu button, #MatePanelPopupWindow button, popover.messagepopover .popover-action-area button, tabbox > tab button, .gedit-search-slider .linked > button, .nautilus-window.csd notebook > header tab:checked button.flat, .nautilus-window.csd notebook > header tab:active button.flat, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable:selected button.sidebar-button, placessidebar.sidebar row button.sidebar-button, calendar.button, .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item) button.circular, .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable button.circular, treeview.view header button button.circular, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button button.circular, filechooser stack.view scrolledwindow treeview.view header button button.circular, row.activatable button.circular, check,
  radio, scrollbar button, notebook > header > tabs > arrow, spinbutton.vertical button, spinbutton:not(.vertical) button, modelbutton.flat,
  .menuitem.button.flat, .nemo-window .toolbar button, #buttonbox_frame button, .xfce4-panel.background button, .raven stackswitcher.linked > button, .budgie-panel button, .lock-dialog button, .mate-panel-menu-bar button, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button, layouttabbar button, filechooser #pathbarbox > stack > box > button, messagedialog.csd .dialog-action-box button, .app-notification button, actionbar > revealer > box button:not(.suggested-action):not(.destructive-action), popover.background.menu button,
  popover.background button.model, .caja-pathbar button,
  .path-bar.linked:not(.vertical) > button, .nemo-window .primary-toolbar button:not(.text-button), headerbar button:not(.suggested-action):not(.destructive-action), toolbar button, combobox > .linked:not(.vertical) > button:not(:only-child), button.flat {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: transparent;
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .budgie-session-dialog .linked.horizontal > button:focus,
  .budgie-polkit-dialog .linked.horizontal > button:focus,
  .budgie-run-dialog .linked.horizontal > button:focus, .drop-shadow button:focus, .budgie-settings-window buttonbox.inline-toolbar button:focus, #mate-menu button:focus, #MatePanelPopupWindow button:focus, popover.messagepopover .popover-action-area button:focus, tabbox > tab button:focus, .gedit-search-slider .linked > button:focus, .nautilus-window.csd notebook > header tab:checked button.flat:focus, .nautilus-window.csd notebook > header tab:active button.flat:focus, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable:selected button.sidebar-button:focus, placessidebar.sidebar row button.sidebar-button:focus, calendar.button:focus, .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item) button.circular:focus, .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable button.circular:focus, treeview.view header button button.circular:focus, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button button.circular:focus, filechooser stack.view scrolledwindow treeview.view header button button.circular:focus, row.activatable button.circular:focus, check:focus,
  radio:focus, scrollbar button:focus, notebook > header > tabs > arrow:focus, spinbutton.vertical button:focus, spinbutton:not(.vertical) button:focus, modelbutton.flat:focus,
  .menuitem.button.flat:focus, .nemo-window .toolbar button:focus, #buttonbox_frame button:focus, .xfce4-panel.background button:focus, .raven stackswitcher.linked > button:focus, .budgie-panel button:focus, .lock-dialog button:focus, .mate-panel-menu-bar button:focus, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:focus,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:focus, layouttabbar button:focus, filechooser #pathbarbox > stack > box > button:focus, messagedialog.csd .dialog-action-box button:focus, .app-notification button:focus, actionbar > revealer > box button:focus:not(.suggested-action):not(.destructive-action), popover.background.menu button:focus,
  popover.background button.model:focus, .caja-pathbar button:focus,
  .path-bar.linked:not(.vertical) > button:focus, .nemo-window .primary-toolbar button:focus:not(.text-button), headerbar button:focus:not(.suggested-action):not(.destructive-action), toolbar button:focus, combobox > .linked:not(.vertical) > button:focus:not(:only-child), button.flat:focus {
    box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
    color: rgba(0, 0, 0, 0.87);
  }
  
  .budgie-session-dialog .linked.horizontal > button:hover,
  .budgie-polkit-dialog .linked.horizontal > button:hover,
  .budgie-run-dialog .linked.horizontal > button:hover, .drop-shadow button:hover, .budgie-settings-window buttonbox.inline-toolbar button:hover, #mate-menu button:hover, #MatePanelPopupWindow button:hover, popover.messagepopover .popover-action-area button:hover, tabbox > tab button:hover, .gedit-search-slider .linked > button:hover, .nautilus-window.csd notebook > header tab:checked button.flat:hover, .nautilus-window.csd notebook > header tab:active button.flat:hover, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable:selected button.sidebar-button:hover, placessidebar.sidebar row button.sidebar-button:hover, calendar.button:hover, .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item) button.circular:hover, .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable button.circular:hover, treeview.view header button button.circular:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button button.circular:hover, filechooser stack.view scrolledwindow treeview.view header button button.circular:hover, row.activatable button.circular:hover, check:hover,
  radio:hover, scrollbar button:hover, notebook > header > tabs > arrow:hover, spinbutton.vertical button:hover, spinbutton:not(.vertical) button:hover, modelbutton.flat:hover,
  .menuitem.button.flat:hover, .nemo-window .toolbar button:hover, #buttonbox_frame button:hover, .xfce4-panel.background button:hover, .raven stackswitcher.linked > button:hover, .budgie-panel button:hover, .lock-dialog button:hover, .mate-panel-menu-bar button:hover, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:hover,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:hover, layouttabbar button:hover, filechooser #pathbarbox > stack > box > button:hover, messagedialog.csd .dialog-action-box button:hover, .app-notification button:hover, actionbar > revealer > box button:hover:not(.suggested-action):not(.destructive-action), popover.background.menu button:hover,
  popover.background button.model:hover, .caja-pathbar button:hover,
  .path-bar.linked:not(.vertical) > button:hover, .nemo-window .primary-toolbar button:hover:not(.text-button), headerbar button:hover:not(.suggested-action):not(.destructive-action), toolbar button:hover, combobox > .linked:not(.vertical) > button:hover:not(:only-child), button.flat:hover {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
    color: rgba(0, 0, 0, 0.87);
  }
  
  .budgie-session-dialog .linked.horizontal > button:active,
  .budgie-polkit-dialog .linked.horizontal > button:active,
  .budgie-run-dialog .linked.horizontal > button:active, .drop-shadow button:active, .budgie-settings-window buttonbox.inline-toolbar button:active, #mate-menu button:active, #MatePanelPopupWindow button:active, popover.messagepopover .popover-action-area button:active, tabbox > tab button:active, .gedit-search-slider .linked > button:active, .nautilus-window.csd notebook > header tab:checked button.flat:active, .nautilus-window.csd notebook > header tab:active button.flat:active, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable:selected button.sidebar-button:active, placessidebar.sidebar row button.sidebar-button:active, calendar.button:active, .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item) button.circular:active, .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable button.circular:active, treeview.view header button button.circular:active, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button button.circular:active, filechooser stack.view scrolledwindow treeview.view header button button.circular:active, row.activatable button.circular:active, check:active,
  radio:active, scrollbar button:active, notebook > header > tabs > arrow:active, spinbutton.vertical button:active, spinbutton:not(.vertical) button:active, modelbutton.flat:active,
  .menuitem.button.flat:active, .nemo-window .toolbar button:active, #buttonbox_frame button:active, .xfce4-panel.background button:active, .raven stackswitcher.linked > button:active, .budgie-panel button:active, .lock-dialog button:active, .mate-panel-menu-bar button:active, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:active,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:active, layouttabbar button:active, filechooser #pathbarbox > stack > box > button:active, messagedialog.csd .dialog-action-box button:active, .app-notification button:active, actionbar > revealer > box button:active:not(.suggested-action):not(.destructive-action), popover.background.menu button:active,
  popover.background button.model:active, .caja-pathbar button:active,
  .path-bar.linked:not(.vertical) > button:active, .nemo-window .primary-toolbar button:active:not(.text-button), headerbar button:active:not(.suggested-action):not(.destructive-action), toolbar button:active, combobox > .linked:not(.vertical) > button:active:not(:only-child), button.flat:active {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms;
    animation: ripple 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
    background-image: radial-gradient(circle, alpha(currentColor, 0.12) 10%, transparent 0%);
    background-size: 0% 0%;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .budgie-session-dialog .linked.horizontal > button:disabled,
  .budgie-polkit-dialog .linked.horizontal > button:disabled,
  .budgie-run-dialog .linked.horizontal > button:disabled, .drop-shadow button:disabled, .budgie-settings-window buttonbox.inline-toolbar button:disabled, #mate-menu button:disabled, #MatePanelPopupWindow button:disabled, popover.messagepopover .popover-action-area button:disabled, tabbox > tab button:disabled, .gedit-search-slider .linked > button:disabled, .nautilus-window.csd notebook > header tab:checked button.flat:disabled, .nautilus-window.csd notebook > header tab:active button.flat:disabled, .nautilus-window.csd placessidebar > viewport.frame > list > row.activatable:selected button.sidebar-button:disabled, placessidebar.sidebar row button.sidebar-button:disabled, calendar.button:disabled, .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item) button.circular:disabled, .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable button.circular:disabled, treeview.view header button button.circular:disabled, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button button.circular:disabled, filechooser stack.view scrolledwindow treeview.view header button button.circular:disabled, row.activatable button.circular:disabled, check:disabled,
  radio:disabled, scrollbar button:disabled, notebook > header > tabs > arrow:disabled, spinbutton.vertical button:disabled, spinbutton:not(.vertical) button:disabled, modelbutton.flat:disabled,
  .menuitem.button.flat:disabled, .nemo-window .toolbar button:disabled, #buttonbox_frame button:disabled, .xfce4-panel.background button:disabled, .raven stackswitcher.linked > button:disabled, .budgie-panel button:disabled, .lock-dialog button:disabled, .mate-panel-menu-bar button:disabled, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:disabled,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:disabled, layouttabbar button:disabled, filechooser #pathbarbox > stack > box > button:disabled, messagedialog.csd .dialog-action-box button:disabled, .app-notification button:disabled, actionbar > revealer > box button:disabled:not(.suggested-action):not(.destructive-action), popover.background.menu button:disabled,
  popover.background button.model:disabled, .caja-pathbar button:disabled,
  .path-bar.linked:not(.vertical) > button:disabled, .nemo-window .primary-toolbar button:disabled:not(.text-button), headerbar button:disabled:not(.suggested-action):not(.destructive-action), toolbar button:disabled, combobox > .linked:not(.vertical) > button:disabled:not(:only-child), button.flat:disabled {
    box-shadow: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
  }
  
  .nemo-window .toolbar button:checked, #buttonbox_frame button:checked, .xfce4-panel.background button:checked, .raven stackswitcher.linked > button:checked, .budgie-panel button:checked, .lock-dialog button:checked, .mate-panel-menu-bar button:checked, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:checked,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:checked, layouttabbar button:checked, filechooser #pathbarbox > stack > box > button:checked, messagedialog.csd .dialog-action-box button:checked, .app-notification button:checked, actionbar > revealer > box button:checked:not(.suggested-action):not(.destructive-action), popover.background.menu button:checked,
  popover.background button.model:checked, .caja-pathbar button:checked,
  .path-bar.linked:not(.vertical) > button:checked, .nemo-window .primary-toolbar button:checked:not(.text-button), headerbar button:checked:not(.suggested-action):not(.destructive-action), toolbar button:checked, combobox > .linked:not(.vertical) > button:checked:not(:only-child), button.flat:checked, button.flat:checked:hover {
    background-color: alpha(currentColor, 0.1);
    color: rgba(0, 0, 0, 0.87);
  }
  
  .nemo-window .toolbar button:checked:disabled, #buttonbox_frame button:checked:disabled, .xfce4-panel.background button:checked:disabled, .raven stackswitcher.linked > button:checked:disabled, .budgie-panel button:checked:disabled, .lock-dialog button:checked:disabled, .mate-panel-menu-bar button:checked:disabled, window.background.csd.geary-main-window stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:checked:disabled,
  window#GearyMainWindow.background.csd stack#conversation_viewer .geary-expanded > .geary-composer-embed headerbar button:checked:disabled, layouttabbar button:checked:disabled, filechooser #pathbarbox > stack > box > button:checked:disabled, messagedialog.csd .dialog-action-box button:checked:disabled, .app-notification button:checked:disabled, actionbar > revealer > box button:checked:disabled:not(.suggested-action):not(.destructive-action), popover.background.menu button:checked:disabled,
  popover.background button.model:checked:disabled, .caja-pathbar button:checked:disabled,
  .path-bar.linked:not(.vertical) > button:checked:disabled, .nemo-window .primary-toolbar button:checked:disabled:not(.text-button), headerbar button:checked:disabled:not(.suggested-action):not(.destructive-action), toolbar button:checked:disabled, combobox > .linked:not(.vertical) > button:checked:disabled:not(:only-child), button.flat:checked:disabled {
    background-color: alpha(currentColor, 0.1);
    color: rgba(0, 0, 0, 0.38);
  }
  
  button.text-button {
    min-width: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  button.text-button.flat {
    min-width: 48px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  button.image-button {
    min-width: 24px;
    padding: 4px;
  }
  
  button.text-button.image-button {
    min-width: 24px;
    padding: 4px;
    border-radius: 12px;
  }
  
  button.text-button.image-button label:first-child {
    margin-left: 12px;
  }
  
  button.text-button.image-button label:last-child {
    margin-right: 12px;
  }
  
  button.text-button.image-button.flat label:first-child {
    margin-left: 8px;
  }
  
  button.text-button.image-button.flat label:last-child {
    margin-right: 8px;
  }
  
  button.text-button.image-button image:not(:only-child) {
    margin: 0 4px;
  }
  
  .linked:not(.vertical) > button.flat:not(:only-child), .linked.vertical > button.flat:not(:only-child) {
    border-radius: 12px;
  }
  
  .linked:not(.vertical) > button.flat.image-button:not(:only-child):not(.text-button), .linked.vertical > button.flat.image-button:not(:only-child):not(.text-button) {
    border-radius: 9999px;
  }
  
  .linked:not(.vertical) > button.flat:focus, .linked.vertical > button.flat:focus {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  button.osd {
    padding: 8px 12px;
  }
  
  button.osd.image-button {
    padding: 8px;
  }
  
  button.osd:disabled {
    opacity: 0;
  }
  
  button.suggested-action {
    background-color: #1A73E8;
    color: white;
    box-shadow: none;
  }
  
  button.suggested-action:disabled {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.38);
  }
  
  button.suggested-action:hover {
    box-shadow: inset 0 0 0 9999px transparent, 0 2px 2.4px -1px rgba(26, 115, 232, 0.2), 0 4px 3px 0 rgba(26, 115, 232, 0.14), 0 1px 6px 0 rgba(26, 115, 232, 0.12);
  }
  
  button.suggested-action:checked {
    background-color: #5f9def;
  }
  
  button.suggested-action:checked:hover {
    box-shadow: inset 0 0 0 9999px transparent, 0 3px 3px -3px rgba(26, 115, 232, 0.3), 0 2px 3px -1px rgba(26, 115, 232, 0.24), 0 2px 5px 0 rgba(26, 115, 232, 0.12);
  }
  
  button.suggested-action:focus {
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.35);
  }
  
  button.suggested-action.flat {
    background-color: transparent;
    color: #1A73E8;
  }
  
  button.suggested-action.flat:disabled {
    box-shadow: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
  }
  
  button.suggested-action.flat:checked {
    background-color: rgba(26, 115, 232, 0.3);
  }
  
  button.destructive-action {
    background-color: #D93025;
    color: white;
    box-shadow: none;
  }
  
  button.destructive-action:disabled {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.38);
  }
  
  button.destructive-action:hover {
    box-shadow: inset 0 0 0 9999px transparent, 0 2px 2.4px -1px rgba(217, 48, 37, 0.2), 0 4px 3px 0 rgba(217, 48, 37, 0.14), 0 1px 6px 0 rgba(217, 48, 37, 0.12);
  }
  
  button.destructive-action:checked {
    background-color: #e46e66;
  }
  
  button.destructive-action:checked:hover {
    box-shadow: inset 0 0 0 9999px transparent, 0 3px 3px -3px rgba(217, 48, 37, 0.3), 0 2px 3px -1px rgba(217, 48, 37, 0.24), 0 2px 5px 0 rgba(217, 48, 37, 0.12);
  }
  
  button.destructive-action:focus {
    box-shadow: 0 0 0 2px rgba(217, 48, 37, 0.35);
  }
  
  button.destructive-action.flat {
    background-color: transparent;
    color: #D93025;
  }
  
  button.destructive-action.flat:disabled {
    box-shadow: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
  }
  
  button.destructive-action.flat:checked {
    background-color: rgba(217, 48, 37, 0.3);
  }
  
  .stack-switcher > button > label {
    margin: 0 -6px;
    padding: 0 6px;
  }
  
  .stack-switcher > button > image {
    margin: -3px -6px;
    padding: 3px 6px;
  }
  
  .stack-switcher > button.needs-attention:checked > label,
  .stack-switcher > button.needs-attention:checked > image {
    animation: none;
    background-image: none;
  }
  
  .primary-toolbar button {
    -gtk-icon-shadow: none;
  }
  
  .raven .expander-button, window.background > box.vertical > toolbar.primary-toolbar > toolitem > box.horizontal:not(.linked) > button.toggle,
  window.background > box.vertical > toolbar.primary-toolbar > toolitem > .linked > button:not(.toggle):not(.raised):not(.flat), window.background > box.vertical > toolbar.primary-toolbar > toolitem button.flat.scale, window.background > box.vertical > toolbar.primary-toolbar > toolitem > .linked > button.image-button.raised, window.csd > box.vertical > box.vertical > toolbar.horizontal > toolitem > .linked > button,
  window.csd > box.vertical > box.vertical > toolbar.horizontal > toolitem > box.horizontal > button,
  window.solid-csd > box.vertical > box.vertical > toolbar.horizontal > toolitem > .linked > button,
  window.solid-csd > box.vertical > box.vertical > toolbar.horizontal > toolitem > box.horizontal > button, .nautilus-window headerbar revealer > button, .linked:not(.vertical) > button.disclosure-button:not(.suggested-action):not(.destructive-action):not(:only-child), button.titlebutton, filechooser #pathbarbox > stack > box > button, check,
  radio, button.image-button, .inline-toolbar button:not(.text-button), button.close, button.circular {
    border-radius: 9999px;
  }
  
  .pluma-window paned.horizontal box.vertical box.horizontal button.flat, .gedit-search-slider .linked > button, .gedit-document-panel row button.flat, .nautilus-window .floating-bar button, placessidebar.sidebar row button.sidebar-button, notebook > header tab button.flat, spinbutton.vertical button, spinbutton:not(.vertical) button {
    min-height: 22px;
    min-width: 22px;
    padding: 0;
    border-radius: 9999px;
  }
  
  stacksidebar.sidebar row.needs-attention > label, .stack-switcher > button.needs-attention > label,
  .stack-switcher > button.needs-attention > image {
    animation: needs-attention 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
    background-repeat: no-repeat;
    background-position: right 3px;
    background-size: 6px 6px;
  }
  
  stacksidebar.sidebar row.needs-attention > label:dir(rtl), .stack-switcher > button.needs-attention > label:dir(rtl),
  .stack-switcher > button.needs-attention > image:dir(rtl) {
    background-position: left 3px;
  }
  
  .linked:not(.vertical) > spinbutton.vertical, .linked:not(.vertical) > spinbutton:not(.vertical), .linked:not(.vertical) > entry, .linked:not(.vertical) > button {
    border-radius: 0;
  }
  
  .linked:not(.vertical) > spinbutton.vertical:first-child, .linked:not(.vertical) > spinbutton:first-child:not(.vertical), .linked:not(.vertical) > entry:first-child, .linked:not(.vertical) > button:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  .linked:not(.vertical) > spinbutton.vertical:last-child, .linked:not(.vertical) > spinbutton:last-child:not(.vertical), .linked:not(.vertical) > entry:last-child, .linked:not(.vertical) > button:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .linked:not(.vertical) > spinbutton.vertical:only-child, .linked:not(.vertical) > spinbutton:only-child:not(.vertical), .linked:not(.vertical) > entry:only-child, .linked:not(.vertical) > button:only-child {
    border-radius: 12px;
  }
  
  .linked.vertical > spinbutton.vertical, .linked.vertical > spinbutton:not(.vertical), .linked.vertical > entry, .linked.vertical > button {
    border-radius: 0;
  }
  
  .linked.vertical > spinbutton.vertical:first-child, .linked.vertical > spinbutton:first-child:not(.vertical), .linked.vertical > entry:first-child, .linked.vertical > button:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .linked.vertical > spinbutton.vertical:last-child, .linked.vertical > spinbutton:last-child:not(.vertical), .linked.vertical > entry:last-child, .linked.vertical > button:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .linked.vertical > spinbutton.vertical:only-child, .linked.vertical > spinbutton:only-child:not(.vertical), .linked.vertical > entry:only-child, .linked.vertical > button:only-child {
    border-radius: 12px;
  }
  
  /* menu buttons */
  modelbutton.flat,
  .menuitem.button.flat {
    min-height: 24px;
    padding: 0 8px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.87);
  }
  
  modelbutton.flat arrow.left {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
  }
  
  modelbutton.flat arrow.right {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  }
  
  button.color {
    min-height: 22px;
    min-width: 22px;
    padding: 4px;
  }
  