cursor-handle {
    color: #1A73E8;
    -gtk-icon-source: -gtk-recolor(url("assets/scalable/cursor-handle-symbolic.svg"));
}

cursor-handle.top:dir(ltr), cursor-handle.bottom:dir(rtl) {
    -gtk-icon-transform: rotate(90deg);
}

cursor-handle.bottom:dir(ltr), cursor-handle.top:dir(rtl) {
    -gtk-icon-transform: unset;
}

cursor-handle.insertion-cursor:dir(ltr), cursor-handle.insertion-cursor:dir(rtl) {
padding-top: 6px;
    -gtk-icon-transform: rotate(45deg);
}

.context-menu {
    font: initial;
}

.keycap {
    min-width: 12px;
    min-height: 26px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    border-radius: 13px;
    box-shadow: inset 0 -2px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    font-size: smaller;
}

:not(decoration):not(window):drop(active) {
    caret-color: #1A73E8;
}

stackswitcher {
    min-height: 0;
    padding: 0;
    margin: 4px 0;
    border-radius: 9999px;
    background-color: alpha(currentColor, 0.05);
}

stackswitcher.linked:not(.vertical) > button:not(.suggested-action):not(.destructive-action) {
    margin: 0 0;
    border-radius: 9999px;
    background-color: transparent;
}

stackswitcher.linked:not(.vertical) > button.text-button:not(.suggested-action):not(.destructive-action) {
    min-width: 100px;
}

stackswitcher.linked:not(.vertical) > button:not(.suggested-action):not(.destructive-action):focus {
    box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
}

stackswitcher.linked:not(.vertical) > button:not(.suggested-action):not(.destructive-action):active {
    box-shadow: inset 0 0 0 9999px alpha(#1A73E8, 0.08);
    background-image: radial-gradient(circle, alpha(#1A73E8, 0.08) 10%, transparent 0%);
}

stackswitcher.linked:not(.vertical) > button:not(.suggested-action):not(.destructive-action):checked {
    background-color: #1A73E8;
    color: white;
}

stackswitcher button.text-button {
    min-width: 100px;
}

stackswitcher button.circular,
stackswitcher button.text-button.circular {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
}