#MozillaGtkWidget > widget text {
    background-color: #FFFFFF;
  }
  
  #MozillaGtkWidget > widget text:selected {
    background-color: #1A73E8;
    color: white;
  }
  
  #MozillaGtkWidget > widget > separator {
    color: #dedede;
  }
  
  #MozillaGtkWidget > widget > scrollbar {
    background-clip: border-box;
  }
  
  #MozillaGtkWidget > widget > frame > border {
    border-color: #dedede;
  }
  
  #MozillaGtkWidget > widget > entry,
  #MozillaGtkWidget > widget > button > button {
    border: 1px solid #dedede;
    border-radius: 12px;
    box-shadow: none;
  }
  
  #MozillaGtkWidget > widget > entry:disabled,
  #MozillaGtkWidget > widget > button > button:disabled {
    border-color: rgba(0, 0, 0, 0.12);
  }
  
  #MozillaGtkWidget > widget > entry {
    min-height: 30px;
    background-color: #FFFFFF;
  }
  
  #MozillaGtkWidget > widget > entry:focus {
    border-color: #1A73E8;
    box-shadow: inset 0 0 0 1px #1A73E8;
  }
  
  #MozillaGtkWidget > widget > entry:disabled {
    background-color: #FAFAFA;
  }
  
  #MozillaGtkWidget > widget > button > button {
    padding: 4px 8px;
    background-size: auto;
  }
  
  #MozillaGtkWidget > widget > button > button:hover {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  #MozillaGtkWidget > widget > button > button:active {
    background-image: image(alpha(currentColor, 0.12));
  }
  
  #MozillaGtkWidget > widget > checkbutton > check,
  #MozillaGtkWidget > widget > radiobutton > radio {
    margin: 0;
    padding: 0;
  }
  
  #MozillaGtkWidget > widget > checkbutton > check:not(:checked):not(:indeterminate),
  #MozillaGtkWidget > widget > radiobutton > radio:not(:checked):not(:indeterminate) {
    color: #757575;
  }
  
  #MozillaGtkWidget > widget > checkbutton > check:not(:checked):not(:indeterminate):hover, #MozillaGtkWidget > widget > checkbutton > check:not(:checked):not(:indeterminate):active,
  #MozillaGtkWidget > widget > radiobutton > radio:not(:checked):not(:indeterminate):hover,
  #MozillaGtkWidget > widget > radiobutton > radio:not(:checked):not(:indeterminate):active {
    color: #9E9E9E;
  }
  
  #MozillaGtkWidget > widget > checkbutton > check:not(:checked):not(:indeterminate):disabled,
  #MozillaGtkWidget > widget > radiobutton > radio:not(:checked):not(:indeterminate):disabled {
    color: rgba(117, 117, 117, 0.5);
  }
  
  #MozillaGtkWidget menu {
    border: none;
  }
  
  #MozillaGtkWidget > widget > menubar {
    color: rgba(255, 255, 255, 0.7);
  }
  
  #MozillaGtkWidget > widget > menubar:hover {
    color: white;
  }
  
  #MozillaGtkWidget > widget > menubar:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
  
  #MozillaGtkWidget > widget > frame {
    color: #dedede;
  }
  
  #MozillaGtkWidget menu > separator {
    color: #dedede;
  }
  
  window.background:not(.csd) > window > menu menuitem {
    transition: none;
  }