#ToolboxCommon > #AuxToolbox #StyleSwatch {
    font-size: smaller;
  }
  
  #ToolboxCommon > #AuxToolbox #Kludge {
    padding: 0;
  }
  
  #ToolboxCommon > #AuxToolbox spinbutton,
  #ToolboxCommon > #AuxToolbox entry {
    min-height: 32px;
  }
  
  #ToolboxCommon > #AuxToolbox button:not(.up):not(.down) {
    min-height: 24px;
    min-width: 16px;
    padding: 4px 8px;
    border-radius: 12px;
  }
  
  #ToolboxCommon > #AuxToolbox spinbutton button {
    border-width: 4px;
  }
  
  #ToolboxCommon > toolbar.vertical {
    margin-top: -4px;
  }
  
  #ToolboxCommon > toolbar.vertical button {
    min-height: 24px;
    min-width: 24px;
    padding: 4px;
    border-radius: 12px;
  }
  
  #CanvasTable button {
    min-height: 16px;
    min-width: 16px;
    padding: 0;
  }
  
  #CanvasTable #HorizontalScrollbar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  #CanvasTable #VerticalScrollbar:dir(ltr) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  #CanvasTable #VerticalScrollbar:dir(rtl) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  #Canvas_and_Dock frame > border {
    border: none;
  }
  
  #Canvas_and_Dock widget > widget > button.flat {
    min-height: 16px;
    min-width: 16px;
    padding: 4px;
  }
  
  #Canvas_and_Dock widget > widget > box.horizontal image {
    padding: 4px;
  }
  
  #Canvas_and_Dock box.horizontal > box.vertical > button.flat {
    min-height: 16px;
    min-width: 24px;
    padding: 8px 4px;
  }