list {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
  }
  
  list row {
    padding: 2px;
  }
  
  .budgie-popover.budgie-menu button.flat:not(.image-button):not(.indicator-item), .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable, treeview.view header button, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button, filechooser stack.view scrolledwindow treeview.view header button, row.activatable {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
  }
  
  .budgie-popover.budgie-menu button.flat:focus:not(.image-button):not(.indicator-item), .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable:focus, treeview.view header button:focus, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button:focus, filechooser stack.view scrolledwindow treeview.view header button:focus, row.activatable:focus {
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  .budgie-popover.budgie-menu button.flat:hover:not(.image-button):not(.indicator-item), .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable:hover, treeview.view header button:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button:hover, filechooser stack.view scrolledwindow treeview.view header button:hover, row.activatable:hover {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 0ms, background-size 300ms cubic-bezier(0, 0, 0.2, 1), background-image 1200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
  }
  
  .budgie-popover.budgie-menu button.has-open-popup.flat:not(.image-button):not(.indicator-item), .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.has-open-popup.activatable, treeview.view header button.has-open-popup, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button.has-open-popup, filechooser stack.view scrolledwindow treeview.view header button.has-open-popup, .budgie-popover.budgie-menu button.flat:active:not(.image-button):not(.indicator-item), .budgie-popover scrolledwindow.sidebar:not(.categories) list > row.activatable:active, treeview.view header button:active, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button:active, filechooser stack.view scrolledwindow treeview.view header button:active, row.activatable.has-open-popup, row.activatable:active {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms;
    animation: ripple 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
    box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
    background-image: radial-gradient(circle, alpha(currentColor, 0.12) 10%, transparent 0%);
    background-size: 0% 0%;
  }
  
  row:selected {
    color: inherit;
  }
  
  row:selected image,
  row:selected label {
    color: rgba(0, 0, 0, 0.87);
  }
  
  row:selected button image,
  row:selected button label {
    color: inherit;
  }
  
  row:selected:disabled image,
  row:selected:disabled label {
    color: rgba(0, 0, 0, 0.38);
  }