messagedialog.background {
    background-color: #FFFFFF;
  }
  
  messagedialog .titlebar {
    min-height: 22px;
    border-style: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
  }
  
  messagedialog .titlebar:backdrop {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.6);
  }
  
  messagedialog.csd.background {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  
  messagedialog.csd .dialog-action-box {
    margin-top: -4px;
  }
  
  messagedialog.csd .dialog-action-box button, messagedialog.csd .dialog-action-box button:first-child, messagedialog.csd .dialog-action-box button:last-child {
    border-radius: 9999px;
  }
  
  messagedialog.csd .dialog-action-box button:not(:last-child) {
    margin-right: 4px;
  }
  
  messagedialog.csd .dialog-action-box button:not(:disabled) {
    color: #1A73E8;
  }
  
  messagedialog.csd .dialog-action-box button.destructive-action:not(:disabled) {
    color: #D93025;
  }