tabbox > tab, notebook > header tab {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms;
    min-height: 22px;
    min-width: 22px;
    padding: 4px 12px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    outline: none;
    background-clip: padding-box;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

tabbox > tab:hover, notebook > header tab:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87);
}

tabbox > tab:disabled, notebook > header tab:disabled {
    color: rgba(0, 0, 0, 0.26);
}

tabbox > tab:checked, notebook > header tab:checked {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
    background-color: #FFFFFF;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87);
}

tabbox > tab:checked:disabled, notebook > header tab:checked:disabled {
    color: rgba(0, 0, 0, 0.38);
}

tabbox > tab.reorderable-page:checked, notebook > header tab.reorderable-page:checked {
    background-color: #FFFFFF;
}

frame > paned > notebook > header, notebook.frame > header {
    background-color: #FAFAFA;
}

notebook, notebook.frame {
    background-color: #FFFFFF;
    border-radius: 2px;
}

notebook.frame frame > border {
    border: none;
    border-radius: 2px;
}

notebook.frame frame > list row.activatable {
    border-radius: 4px;
}

notebook:focus tab:checked {
    box-shadow: none;
}

notebook > header {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    background-color: #F2F2F2;
    background-clip: border-box;
}

notebook > header.top {
    border-bottom-style: solid;
    border-radius: 4px 4px 0 0;
}

notebook > header.top > tabs {
    margin-bottom: -1px;
    margin-top: 4px;
}

notebook > header.top > tabs > tab {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

notebook > header.bottom {
    border-top-style: solid;
    border-radius: 0 0 4px 4px;
}

notebook > header.bottom > tabs {
    margin-top: -1px;
    margin-bottom: 4px;
}

notebook > header.bottom > tabs > tab {
    border-radius: 0 0 4px 4px;
    border-top: none;
}

notebook > header.left {
    border-right-style: solid;
    border-radius: 4px 0 0 4px;
}

notebook > header.left > tabs {
    margin-left: 4px;
    margin-right: -1px;
}

notebook > header.left > tabs > tab {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

notebook > header.right {
    border-left-style: solid;
    border-radius: 0 4px 4px 0;
}

notebook > header.right > tabs {
    margin-left: -1px;
    margin-right: 4px;
}

notebook > header.right > tabs > tab {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

notebook > header.top > tabs > arrow {
    border-top-style: none;
}

notebook > header.bottom > tabs > arrow {
    border-bottom-style: none;
}

notebook > header.top > tabs > arrow, notebook > header.bottom > tabs > arrow {
    padding-left: 4px;
    padding-right: 4px;
}

notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down {
    margin-left: -8px;
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up {
    margin-right: -8px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

notebook > header.left > tabs > arrow {
    border-left-style: none;
}

notebook > header.right > tabs > arrow {
    border-right-style: none;
}

notebook > header.left > tabs > arrow, notebook > header.right > tabs > arrow {
    padding-top: 4px;
    padding-bottom: 4px;
}

notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down {
    margin-top: -8px;
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up {
    margin-bottom: -8px;
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

notebook > header > tabs > arrow {
    min-height: 16px;
    min-width: 16px;
    border-radius: 0;
}

notebook > header tab > box {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    margin: -4px -12px;
    padding: 4px 12px;
}

notebook > header tab > box:drop(active) {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87);
}

notebook > header tab button.flat:last-child {
    margin-left: 4px;
    margin-right: -8px;
}

notebook > header tab button.flat:first-child {
    margin-left: -8px;
    margin-right: 4px;
}

notebook > header.top tabs, notebook > header.bottom tabs {
    padding-left: 8px;
    padding-right: 8px;
}

notebook > header.top tabs:not(:only-child):first-child, notebook > header.bottom tabs:not(:only-child):first-child {
    margin-left: 0;
}

notebook > header.top tabs:not(:only-child):last-child, notebook > header.bottom tabs:not(:only-child):last-child {
    margin-right: 0;
}

notebook > header.top tabs tab.reorderable-page, notebook > header.bottom tabs tab.reorderable-page {
    border-style: solid;
}

notebook > header.left tabs, notebook > header.right tabs {
    padding-top: 8px;
    padding-bottom: 8px;
}

notebook > header.left tabs:not(:only-child):first-child, notebook > header.right tabs:not(:only-child):first-child {
    margin-top: 0;
}

notebook > header.left tabs:not(:only-child):last-child, notebook > header.right tabs:not(:only-child):last-child {
    margin-bottom: 0;
}

notebook > header.left tabs tab.reorderable-page, notebook > header.right tabs tab.reorderable-page {
    border-style: solid;
}

notebook > stack:not(:only-child) {
    background-color: transparent;
    border-radius: 4px;
}