popover.background {
    transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
    padding: 2px;
    box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
  }
  
  popover.background:backdrop {
    box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
  
  popover.background, .csd popover.background {
    border-style: solid;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-radius: 12px;
  }
  
  popover.background > stack {
    margin: -4px;
  }
  
  popover.background > toolbar {
    margin: -2px;
  }
  
  popover.background > list,
  popover.background > .view,
  window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow popover.background > treeview.view:not(.progressbar):not(.trough),
  filechooser stack.view scrolledwindow popover.background > treeview.view,
  popover.background > toolbar {
    border-style: none;
    box-shadow: none;
    background-color: transparent;
  }
  
  popover.background list,
  popover.background .view:not(:selected),
  popover.background window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(:selected):not(.progressbar):not(.trough),
  window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow popover.background treeview.view:not(:selected):not(.progressbar):not(.trough),
  popover.background filechooser stack.view scrolledwindow treeview.view:not(:selected),
  filechooser stack.view scrolledwindow popover.background treeview.view:not(:selected),
  popover.background toolbar {
    background-color: #FFFFFF;
  }
  
  popover.background .linked > button:not(.radio) {
    border-radius: 12px;
  }
  
  popover.background .linked > button:not(.radio):first-child {
    border-radius: 12px;
  }
  
  popover.background .linked > button:not(.radio):last-child {
    border-radius: 12px;
  }
  
  popover.background .linked > button:not(.radio):only-child {
    border-radius: 12px;
  }
  
  popover.background.menu button,
  popover.background button.model {
    min-height: 32px;
    padding: 0 8px;
    border-radius: 12px;
  }
  
  popover.background separator {
    margin: 4px 0;
  }
  
  popover.background list separator {
    margin: 0;
  }