.sidebar {
    border-style: none;
    background-color: #FAFAFA;
  }
  
  stacksidebar.sidebar:dir(ltr) list, stacksidebar.sidebar.left list, stacksidebar.sidebar.left:dir(rtl) list, .sidebar:not(separator):dir(ltr), .sidebar.left:not(separator) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left-style: none;
  }
  
  stacksidebar.sidebar:dir(rtl) list, stacksidebar.sidebar.right list, .sidebar:not(separator):dir(rtl), .sidebar.right:not(separator) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right-style: none;
  }
  
  .sidebar list {
    background-color: transparent;
  }
  
  paned .sidebar.left, paned .sidebar.right, paned .sidebar.left:dir(rtl), paned .sidebar:dir(rtl), paned .sidebar:dir(ltr), paned .sidebar {
    border-style: none;
  }
  
  stacksidebar.sidebar list {
    padding: 4px;
    background-color: #FAFAFA;
  }
  
  stacksidebar.sidebar row {
    min-height: 32px;
    padding: 0 2px;
    border-radius: 6px;
  }
  
  stacksidebar.sidebar row:selected {
    background-color: alpha(currentColor, 0.1);
    color: #1A73E8;
    font-weight: 500;
  }
  
  stacksidebar.sidebar row + row {
    margin-top: 4px;
  }
  
  stacksidebar.sidebar row > label {
    padding-left: 6px;
    padding-right: 6px;
    color: inherit;
  }
  
  separator.sidebar {
    background-color: rgba(0, 0, 0, 0.12);
  }