spinbutton.vertical, spinbutton:not(.vertical),
entry {
  min-height: 32px;
  padding: 0 8px;
  border-radius: 12px;
  caret-color: currentColor;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical:focus, spinbutton:focus:not(.vertical),
entry:focus {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 0 0 2px #1A73E8;
}

spinbutton.vertical:drop(active), spinbutton:drop(active):not(.vertical),
entry:drop(active) {
  background-color: alpha(currentColor, 0.08);
  box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
}

spinbutton.vertical:disabled, spinbutton:disabled:not(.vertical),
entry:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.38);
}

spinbutton.flat.vertical, spinbutton.flat:not(.vertical),
entry.flat {
  min-height: 0;
  padding: 2px;
  border-radius: 0;
  background-color: transparent;
}

spinbutton.vertical image, spinbutton:not(.vertical) image,
entry image {
  color: rgba(0, 0, 0, 0.6);
}

spinbutton.vertical image:hover, spinbutton:not(.vertical) image:hover, spinbutton.vertical image:active, spinbutton:not(.vertical) image:active,
entry image:hover,
entry image:active {
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical image:disabled, spinbutton:not(.vertical) image:disabled,
entry image:disabled {
  color: rgba(0, 0, 0, 0.38);
}

spinbutton.vertical image.left, spinbutton:not(.vertical) image.left,
entry image.left {
  margin-left: 0px;
  margin-right: 6px;
}

spinbutton.vertical image.right, spinbutton:not(.vertical) image.right,
entry image.right {
  margin-left: 6px;
  margin-right: 0px;
}

spinbutton.vertical undershoot.left, spinbutton:not(.vertical) undershoot.left,
entry undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.26) 50%);
  padding-left: 1px;
  background-size: 1px 12px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left top;
  margin: 0 4px;
  margin: 4px 0;
}

spinbutton.vertical undershoot.right, spinbutton:not(.vertical) undershoot.right,
entry undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.26) 50%);
  padding-right: 1px;
  background-size: 1px 12px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right top;
  margin: 0 4px;
  margin: 4px 0;
}

spinbutton.error.vertical, spinbutton.error:not(.vertical),
entry.error {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.error.vertical:focus, spinbutton.error:focus:not(.vertical),
entry.error:focus {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 0 0 2px #D93025;
}

spinbutton.error.vertical:disabled, spinbutton.error:disabled:not(.vertical),
entry.error:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.38);
}

spinbutton.warning.vertical, spinbutton.warning:not(.vertical),
entry.warning {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.warning.vertical:focus, spinbutton.warning:focus:not(.vertical),
entry.warning:focus {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 0 0 2px #F4B400;
}

spinbutton.warning.vertical:disabled, spinbutton.warning:disabled:not(.vertical),
entry.warning:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.38);
}

spinbutton.vertical progress, spinbutton:not(.vertical) progress,
entry progress {
  margin: 2px -8px;
  border-bottom: 2px solid #1A73E8;
  background-color: transparent;
}

.gedit-search-slider .linked:not(.vertical) > entry {
  border-radius: 12px;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}

.gedit-search-slider .linked:not(.vertical) > entry:focus {
  border-image: none;
  box-shadow: inset 0 0 0 2px #1A73E8;
}

.gedit-search-slider .linked:not(.vertical) > entry:drop(active) {
  box-shadow: inset 0 0 0 2px alpha(currentColor, 0.08);
}

.gedit-search-slider .linked:not(.vertical) > entry:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.38);
}

.gedit-search-slider .linked:not(.vertical) > entry.error {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #D93025;
  color: white;
}

.gedit-search-slider .linked:not(.vertical) > entry.error:focus {
  border-image: none;
  box-shadow: inset 0 0 0 2px #D93025;
}

.gedit-search-slider .linked:not(.vertical) > entry.error:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.38);
}

.gedit-search-slider .linked:not(.vertical) > entry.error image {
  color: rgba(255, 255, 255, 0.7);
}

.gedit-search-slider .linked:not(.vertical) > entry.error image:hover, .gedit-search-slider .linked:not(.vertical) > entry.error image:active {
  color: white;
}

.gedit-search-slider .linked:not(.vertical) > entry.error image:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.gedit-search-slider .linked:not(.vertical) > entry.warning {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #F4B400;
  color: rgba(0, 0, 0, 0.87);
}

.gedit-search-slider .linked:not(.vertical) > entry.warning:focus {
  border-image: none;
  box-shadow: inset 0 0 0 2px #F4B400;
}

.gedit-search-slider .linked:not(.vertical) > entry.warning:disabled {
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.38);
}

.gedit-search-slider .linked:not(.vertical) > entry.warning image {
  color: rgba(0, 0, 0, 0.6);
}

.gedit-search-slider .linked:not(.vertical) > entry.warning image:hover, .gedit-search-slider .linked:not(.vertical) > entry.warning image:active {
  color: rgba(0, 0, 0, 0.87);
}

.gedit-search-slider .linked:not(.vertical) > entry.warning image:disabled {
  color: rgba(0, 0, 0, 0.38);
}

treeview entry.flat, treeview entry {
  background-color: #FFFFFF;
}

treeview entry.flat, treeview entry.flat:focus, treeview entry, treeview entry:focus {
  border-image: none;
  box-shadow: none;
}

.entry-tag, .photos-entry-tag, .documents-entry-tag {
  margin: 2px;
  border-radius: 9999px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
}

.entry-tag:hover, .photos-entry-tag:hover, .documents-entry-tag:hover {
  background-image: image(alpha(currentColor, 0.08));
}

:dir(ltr) .entry-tag, :dir(ltr) .photos-entry-tag, :dir(ltr) .documents-entry-tag {
  margin-left: 4px;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 8px;
}

:dir(rtl) .entry-tag, :dir(rtl) .photos-entry-tag, :dir(rtl) .documents-entry-tag {
  margin-left: 0;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 12px;
}

.entry-tag.button, .button.photos-entry-tag, .button.documents-entry-tag {
  box-shadow: none;
  background-color: transparent;
}

.entry-tag.button:not(:hover):not(:active), .button.photos-entry-tag:not(:hover):not(:active), .button.documents-entry-tag:not(:hover):not(:active) {
  color: rgba(0, 0, 0, 0.6);
}

