treeview.view, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view {
    border-left-color: rgba(0, 0, 0, 0.26);
    border-top-color: rgba(0, 0, 0, 0.12);
  }
  
  * {
    -GtkTreeView-horizontal-separator: 4;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';
    -GtkTreeView-expander-size: 16;
  }
  
  treeview.view:selected, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:selected:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:selected {
    background-color: #FFFFFF;
    background-image: image(alpha(currentColor, 0.1));
  }
  
  treeview.view:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:hover, treeview.view:selected, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:selected:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:selected {
    border-radius: 0;
  }
  
  treeview.view.separator, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.separator.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.separator.view {
    min-height: 5px;
    color: rgba(0, 0, 0, 0.12);
  }
  
  treeview.view:drop(active), window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:drop(active):not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view:drop(active) {
    border-style: solid none;
    border-width: 9999px;
    border-color: alpha(currentColor, 0.08);
  }
  
  treeview.view.after:drop(active), window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view.after:drop(active):not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view.after:drop(active) {
    border-top-style: none;
  }
  
  treeview.view.before:drop(active), window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view.before:drop(active):not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.view.before:drop(active) {
    border-bottom-style: none;
  }
  
  treeview.view.expander, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    -gtk-icon-transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.6);
  }
  
  treeview.view.expander:dir(rtl), window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:dir(rtl):not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view:dir(rtl) {
    -gtk-icon-transform: rotate(90deg);
  }
  
  treeview.view.expander:checked, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:checked:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view:checked {
    -gtk-icon-transform: unset;
  }
  
  treeview.view.expander:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view:hover, treeview.view.expander:active, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:active:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view:active {
    color: rgba(0, 0, 0, 0.87);
  }
  
  treeview.view.expander:disabled, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.expander.view:disabled:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.expander.view:disabled {
    color: rgba(0, 0, 0, 0.26);
  }
  
  treeview.view.progressbar, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.progressbar.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.progressbar.view {
    border-bottom: 6px solid #1A73E8;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }
  
  treeview.view.progressbar:selected:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.progressbar.view:selected:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.progressbar.view:selected:hover {
    box-shadow: none;
  }
  
  treeview.view.trough, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.trough.view:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.trough.view {
    border-bottom: 6px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    background-color: transparent;
    background-image: none;
  }
  
  treeview.view.trough:selected:hover, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.trough.view:selected:hover:not(.progressbar):not(.trough), filechooser stack.view scrolledwindow treeview.trough.view:selected:hover {
    box-shadow: none;
  }
  
  treeview.view header button, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button, filechooser stack.view scrolledwindow treeview.view header button {
    padding: 2px 6px;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 0;
    background-clip: border-box;
  }
  
  treeview.view header button:not(:focus):not(:hover):not(:active), window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button:not(:focus):not(:hover):not(:active), filechooser stack.view scrolledwindow treeview.view header button:not(:focus):not(:hover):not(:active) {
    color: rgba(0, 0, 0, 0.6);
  }
  
  treeview.view header button, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button, filechooser stack.view scrolledwindow treeview.view header button, treeview.view header button:disabled, filechooser stack.view scrolledwindow treeview.view header button:disabled {
    background-color: #FFFFFF;
  }
  
  treeview.view header button:last-child, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header button:last-child, filechooser stack.view scrolledwindow treeview.view header button:last-child {
    border-right-style: none;
  }
  
  treeview.view button.dnd, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) button.dnd, filechooser stack.view scrolledwindow treeview.view button.dnd,
  treeview.view header.button.dnd,
  window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) header.button.dnd,
  filechooser stack.view scrolledwindow treeview.view header.button.dnd {
    padding: 2px 6px;
    border-style: none solid solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: none;
    background-color: #FFFFFF;
    background-clip: border-box;
    color: #1A73E8;
  }
  
  treeview.view acceleditor > label, window#gnome-system-monitor.background.csd > box.vertical > stack > box.vertical > scrolledwindow treeview.view:not(.progressbar):not(.trough) acceleditor > label, filechooser stack.view scrolledwindow treeview.view acceleditor > label {
    background-color: #1A73E8;
  }