toolbar {
    -GtkWidget-window-dragging: true;
    padding: 2px;
    background-color: #F2F2F2;
  }
  
  .osd toolbar {
    background-color: transparent;
  }
  
  frame.documents-dropdown, .app-notification, toolbar.osd {
    transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12), inset 0 1px rgba(255, 255, 255, 0.4);
    background-color: #FFFFFF;
  }
  
  frame.documents-dropdown:backdrop, .app-notification:backdrop, toolbar.osd:backdrop {
    box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 3px 0 rgba(0, 0, 0, 0.12), inset 0 1px rgba(255, 255, 255, 0.4);
  }
  
  frame.left.documents-dropdown, .left.app-notification, frame.right.documents-dropdown, .right.app-notification, frame.top.documents-dropdown, .top.app-notification, frame.bottom.documents-dropdown, .bottom.app-notification, toolbar.osd.left, toolbar.osd.right, toolbar.osd.top, toolbar.osd.bottom {
    border-radius: 0;
  }
  
  frame.bottom.documents-dropdown, .bottom.app-notification, toolbar.osd.bottom {
    box-shadow: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4));
  }
  
  toolbar.horizontal > separator {
    margin: 2px;
  }
  
  toolbar.vertical > separator {
    margin: 2px;
  }
  
  toolbar:not(.inline-toolbar):not(.osd) scale,
  toolbar:not(.inline-toolbar):not(.osd) entry,
  toolbar:not(.inline-toolbar):not(.osd) spinbutton,
  toolbar:not(.inline-toolbar):not(.osd) button {
    margin: 2px;
  }
  
  toolbar:not(.inline-toolbar):not(.osd) .linked entry:not(:first-child),
  toolbar:not(.inline-toolbar):not(.osd) .linked spinbutton:not(:first-child),
  toolbar:not(.inline-toolbar):not(.osd) .linked button:not(:first-child) {
    margin-left: 0;
  }
  
  toolbar:not(.inline-toolbar):not(.osd) .linked entry:not(:last-child),
  toolbar:not(.inline-toolbar):not(.osd) .linked spinbutton:not(:last-child),
  toolbar:not(.inline-toolbar):not(.osd) .linked button:not(:last-child) {
    margin-right: 0;
  }
  
  toolbar:not(.inline-toolbar):not(.osd) spinbutton entry,
  toolbar:not(.inline-toolbar):not(.osd) spinbutton button {
    margin: 0;
  }
  
  toolbar:not(.inline-toolbar):not(.osd) switch {
    margin: 6px 2px;
  }
  
  .inline-toolbar {
    padding: 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: rgba(0, 0, 0, 0.08);
    background-color: #FAFAFA;
  }
  
  searchbar > revealer > box,
  .location-bar {
    padding: 4px;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #F2F2F2;
    background-clip: border-box;
  }
  
  searchbar > revealer > box {
    margin: -6px;
    padding: 4px;
  }